body {
    margin: 0%;
    padding: 0%;
    /* background: linear-gradient(110deg, rgb(134, 138, 6), rgb(82, 109, 2)); */
    background-color: rgb(234, 122, 122);
}

.container {
    width: 700px;
    height: 500px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;  
}

@media screen and (max-width: 720px) {
    .container {
        width: 600px;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 500px;
    }
}

@media screen and (max-width: 520px) {
    .container {
        width: 400px;
    }
}

@media screen and (max-width: 420px) {
    .container {
        width: 300px;
    }
}

@media screen and (max-width: 305px) {
    .container {
        width: 277px;
    }
}

.new-game {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
    cursor: pointer;
}

img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 90px;
    background-color: white;
    box-shadow: 0px 0px 17px 7px rgb(237, 226, 226);
    display: none; 
}

.roll-dice {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 115px;
    justify-content: space-between;
    cursor: pointer;
}

.hold {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: space-between;
    cursor: pointer;
}

@media screen and (max-width: 420px) {
    .roll-dice {
        top:80%;
    }

    .hold {
        top:88%;
    }
}

.icons {
    color:rgb(243, 116, 116);
    font-size:1.5rem;
    display: flex;
}

.h3 {
    display: flex;
    align-items: center;
    margin-top: 65px;
}

.h3 span {
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(243, 116, 116);
    opacity: 0;
}

h3 {
    font-size: 3rem;
    font-weight: normal; 
    margin-right: 5px;
}

@media screen and (max-width: 620px) {
    h3 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 420px) {
    h3 {
        font-size: 1.5rem;
    }
}

.player1, .player2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.final-score1, .final-score2 {
    font-size: 3rem;
    font-weight: normal;
    color:rgb(243, 116, 116)
}

.intermediate-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    width: 75px;
    height: 60px;
    background-color: rgb(243, 116, 116);
    font-size: 1.2rem;  
}